<?xml version = '1.0' encoding = 'windows-1252'?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <description>Empty web.xml file for Web Application</description>
       <servlet>
        <servlet-name>ex1</servlet-name>
        <servlet-class>ex1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ex2</servlet-name>
        <servlet-class>ex2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ex3</servlet-name>
        <servlet-class>ex3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ex4</servlet-name>
        <servlet-class>ex4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ex5</servlet-name>
        <servlet-class>ex5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ex6</servlet-name>
        <servlet-class>ex6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ex7</servlet-name>
        <servlet-class>ex7</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ex8</servlet-name>
        <servlet-class>ex8</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ex9</servlet-name>
        <servlet-class>ex9</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ex10</servlet-name>
        <servlet-class>ex10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ex11</servlet-name>
        <servlet-class>ex11</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ex12</servlet-name>
        <servlet-class>ex12</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ex13</servlet-name>
        <servlet-class>ex13</servlet-class>
    </servlet>
       <servlet-mapping>
        <servlet-name>ex1</servlet-name>
        <url-pattern>/ex1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ex2</servlet-name>
        <url-pattern>/ex2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ex3</servlet-name>
        <url-pattern>/ex3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ex4</servlet-name>
        <url-pattern>/ex4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ex5</servlet-name>
        <url-pattern>/ex5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ex6</servlet-name>
        <url-pattern>/ex6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ex7</servlet-name>
        <url-pattern>/ex7</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ex8</servlet-name>
        <url-pattern>/ex8</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ex9</servlet-name>
        <url-pattern>/ex9</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ex10</servlet-name>
        <url-pattern>/ex10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ex11</servlet-name>
        <url-pattern>/ex11</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ex12</servlet-name>
        <url-pattern>/ex12</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ex13</servlet-name>
        <url-pattern>/ex13</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>35</session-timeout>
    </session-config>
    <mime-mapping>
        <extension>html</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>txt</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>
</web-app>
